custom_components
configuration.yaml.save
deps
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
known_devices.yaml
zigbee.db
zigbee.db-shm
zigbee.db-wal
www/snapshot_dash.jpg
www/
configuration.yaml
configuration.yaml.bak
coach_model_year.txt
coach_number.txt
.HA_VERSION
.cloud
.ha_run.lock
home-assistant-rollback.log
update_ha_config.log
glances_dashboard/__pycache__/
.DS_Store
.DS_Store
